DATABASE_URL=postgres://user:pass@localhost:5432/meetly
JWT_SECRET=เปลี่ยนเป็นข้อความสุ่มยาวๆ
GOOGLE_CLIENT_ID=593161598887-sdk2tei3d7unugpurlq8tkjmpbmv691u.apps.googleusercontent.com
ALLOWED_DOMAIN=udru.ac.th
ADMIN_EMAILS=teacher@udru.ac.th
DEMO_LOGIN=true
